@model TDB_SAAS.Models.CostCentre

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CostCentre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifier.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifier.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enbld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enbld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
