@model TDB_SAAS.Models.Attendance[]

@{
    ViewBag.Title = "Attendances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Staff.GetFullName()</h2>
<p>@ViewBag.Staff.JobTitle</p>
<p>@if (ViewBag.Staff.GetMainTeam() != null)
{ @ViewBag.Staff.GetMainTeam().TeamName }</p>

<hr />
<h2>Attendances</h2>

@using (Html.BeginForm("UpdateAttendances", "Person"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table table-striped">
        <thead>
            <tr>
                <td>@Html.LabelFor(model => model[0].Sess.CourseID, "Course", htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.LabelFor(model => model[0].Sess.Strt, "Date and Time", htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.LabelFor(model => model[0].Sess.TrainerID, "Trainer", htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.LabelFor(model => model[0].Sess.LocationID, "Location", htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.LabelFor(model => model[0].OutcomeID, "Outcome", htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.LabelFor(model => model[0].Comments, htmlAttributes: new { @class = "control-label" })</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Length; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(model => model[i].ID)
                        @Html.HiddenFor(model => model[i].StaffID)
                        @Model[i].Sess.Course.CourseName
                    </td>
                    <td>
                        @(((DateTime)(Model[i].Sess.Strt)).ToShortDateString()) 
                        @(((DateTime)(Model[i].Sess.Strt)).ToShortTimeString()) - 
                        @(((DateTime)(Model[i].Sess.Endt)).ToShortTimeString())
                    </td>
                    <td>@Model[i].Sess.Trainer.GetFullName()</td>
                    <td>@Model[i].Sess.Location.LocationName</td>
                    <td>
                        @Html.DropDownListFor(m => m[i].OutcomeID, new SelectList(ViewBag.Statuses, "ID", "StatusDesc", Model[i].OutcomeID), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model[i].OutcomeID, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model[i].Comments, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model[i].Comments, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}
<p></p>
<hr />


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
