@model TDB_SAAS.Models.Attendance[]

@{
    ViewBag.Title = "Attendances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Session.Course.CourseName</h2>
<p>Trainer: @ViewBag.Session.Trainer.GetFullName()<br/>
Location: @ViewBag.Session.Location.LocationName</p>
<h3>@ViewBag.Session.Strt.ToShortDateString()</h3>
<p>@ViewBag.Session.Strt.ToShortTimeString() - @ViewBag.Session.Endt.ToShortTimeString()</p>
<hr />
<h2>Attendances</h2>

@using (Html.BeginForm("UpdateAttendances", "Session"))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table>
        <thead>
            <tr>
                <td>@Html.LabelFor(model => model[0].StaffID, "Staff Member", htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.LabelFor(model => model[0].OutcomeID, "Outcome", htmlAttributes: new { @class = "control-label" })</td>
                <td>@Html.LabelFor(model => model[0].Comments, htmlAttributes: new { @class = "control-label" })</td>
            </tr>
        </thead>
        <tbody>
            @for(int i=0;i < Model.Length; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(model => model[i].ID)
                        @Html.HiddenFor(model => model[i].SessID)
                        @Model[i].Staff.GetFullName()
                        @Html.ValidationMessageFor(model => model[i].StaffID, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m[i].OutcomeID, new SelectList(ViewBag.Statuses, "ID", "StatusDesc", Model[i].OutcomeID), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model[i].OutcomeID, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model[i].Comments, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model[i].Comments, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}
<p></p>
<hr />
<h2>New Bookings</h2>
<form id="BookPerson" class="form-inline">
    <div class="form-inline">
        <label for="StaffID">Staff Member: </label>
        @Html.DropDownList("StaffID", new SelectList(ViewBag.StaffList, "ID", "Surname"), "Please Select Staff Member", htmlAttributes: new { @class = "form-control" })
        <label for="BkComments">Comments: </label>
        <input type="text" class="form-control" id="BkComments" name="BkComments" placeholder="Enter Comments">
        <input type="submit" value="Book on Course Session" class="btn btn-primary" />
    </div>
</form>



<p>
    @Html.ActionLink("Back to Session List", "Index")
</p>
